<mat-card>

    <mat-card-title>Iniciar sesión</mat-card-title>
    
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nombre de usuario">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Contraseña">
                </mat-form-field>
            </p>
            <button type="submit" mat-raised-button color="primary"> Iniciar sesión </button>
        </form>
    </mat-card-content>
    
</mat-card>