<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>Acerca de  metBlog</mat-card-title>
        <mat-card-subtitle>Version 2.1.1</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <p>
            este es un sitio web que sirve como repositorio informativo de las metodologías de accesibiliad web.
        </p>
        <p>
            hecha por : Santiago Banquez Zapata
            Fundación Universitaria Konrad Lorenz
        </p>
    </mat-card-content>
    
</mat-card>
