<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>About metBlog</mat-card-title>
        <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <p>
            Vivamus sit amet interdum ligula, scelerisque cursus nulla. Aenean eget leo semper
        </p>
        <p>
            Vivamus sit amet interdum ligula, scelerisque cursus nulla. Aenean eget leo semper
        </p>
    </mat-card-content>
    
</mat-card>
