a{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}


img {
    height: 200px;
}
p.content{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: left;
}