<mat-toolbar  class="toolbarcolor">
    <a routerLink="/"> {{appName}}</a>
    <span class="fill-remaining-sapace"></span>

    <a routerLink="/admin/profile" routerLinkActive="active" *ngIf="authSvc.userData$ | async">
        <button mat-button>Administrador</button>
    </a>


    <a routerLink="/about" routerLinkActive="active">
        <button mat-button>Acerca de la página</button>
    </a>


    <a *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">
        <button mat-button>Cerrar sesión</button>
    </a>


    <ng-template #showLogin>
        <a routerLink="/login" routerLinkActive="active">
            <button mat-button>Iniciar sesión</button>
        </a>
    </ng-template>



</mat-toolbar>